:root {
  --primary: #47308e;
  --secondary : #00c9a3;
  --neutral-100: #fcf7ff;
  --neutral-200: #fffade;
  --gradient : linear-gradient(to right bottom, #47308e, #6549a9, #8264c5, #a07fe2, #be9cff);
}

* {
  box-sizing: border-box;
  margin : 0 ;
  padding : 0 ; 
}


body {
  background-image: linear-gradient(to left top, #47308e, #6549a9, #8264c5, #a07fe2, #be9cff);
  min-height: 100vh;
}


